* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    background-color: #f7f8f9;
}

ul {
    margin-top: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.well {
    max-height: 400px;
    overflow-y: scroll;
}

a {
    color: #fff;
}

/*.table td, .table th {*/
    /*padding: .75rem;*/
    /*vertical-align: top;*/
    /*border-top: 1px solid #e9ecef;*/
    /*font-size: 14px;*/
/*}*/